<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Marcus' Blog</title>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/blog_main.css' %}" charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/blog_nav.css' %}" charset="utf-8">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome-4.6.1/css/font-awesome.css' %}">
        <script type="text/javascript" src="{% static 'assets/js/angular1.5.5.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/blog_app.js' %}"></script>
    </head>
    <body>
        {% block nav %}
        <div class="nav_container">
            <div class="nav_btn">
                Marcus Shepherd<br> <i class="title">Professional Problem Solver</i> 
            </div>

            <a class="github_icon" href="https://github.com/marcusshepp"><i class="fa fa-github fa-3x"></i></a>
        </div>
        {% endblock nav %}
        <div class="content" ng-app="blog_app">
            {% block content %}
            {% endblock content %}
            <div class="categories_panel" ng-controller="category_controller as cc"> 
                <div class="category" ng-repeat="category_name in categories">
                    {[ category_name ]}
                </div>
            </div>
        </div>

        {% block javascript %}
            <script type="text/javascript">
            </script>
        {% endblock %}
    </body>
</html>
