.content{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}
.posts_container{
    display: inline-block;
    width: 50%;
}
.post{
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #D8D8D8;
    border-radius: 5px;
}
.post_body{
    
}
.post_title{
    margin-bottom: 0.3em;
}
.post_category{
    position: absolute;
    top: 5px;
    right: 5px;
}
.post_date{
    margin-top: 0.4em;
}
.categories_panel{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-left: 25%;
    border-left: 1px black solid;
    padding: 1em;
}
.category{
    margin-bottom: 0.5em;
    text-align: center;
    cursor: pointer;
    padding: 0.5em;
}
.category:hover{
    animation: button_hover 1s;
    background-color: #E6E6E6;
}
/* Animations */
@keyframes button_hover{
    0%{
        background-color: white;
    }
    100%{
        background-color: #E6E6E6;
    }
}