body{
    background-color: black;
}
header{
    background-color: blue;
}
.app_previews_container{
}
.pricing_container{
    background-color: black;
    display: block;
    padding: 1em;
    padding-left: 8%;
}
.app_previews_container > div,
.pricing_container > div{
    display: inline-block;
    background-color: red;
    width: 25%;
    height: 450px;
    padding: 1.5em;
    padding-left: 3em;
    vertical-align: top;
}
.app_previews_container{
    padding: 1em;
    padding-left: 8%;
}
