body{
    background-color: black;
}
header{
    background-color: #D4D4D4;
}
.pricing_container{
    background-color: black;
    display: block;
    padding: 1em;
    padding-left: 8%;
}
.pricing_container > div{
    display: inline-block;
    background-color: #D4D4D4;
    width: 25%;
    height: 450px;
    padding: 1.5em;
    padding-left: 3em;
    vertical-align: top;
}
