<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Modal</title>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/modal/modal.css' %}" media="screen" title="no title" charset="utf-8">
        <script type="text/javascript" src="{% static 'js/slideshow.js' %}"></script>
    </head>
    <body>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium porttitor condimentum. Sed sem nisi, euismod eget mollis et, posuere id odio. Phasellus quis magna porttitor, consequat erat ut, pulvinar dolor. Aenean ut erat eu lectus cursus scelerisque. Ut elementum mi dui, blandit commodo ex sagittis fringilla. Donec justo erat, vestibulum at erat ut, volutpat aliquam nulla. Cras molestie dapibus pulvinar. Vestibulum blandit elementum pharetra. Cras ut turpis lacinia, facilisis nibh sed, vestibulum tortor. Mauris libero ipsum, fermentum ac lorem non, vehicula luctus leo. Phasellus vestibulum velit pellentesque metus dapibus molestie. Integer iaculis mattis dapibus. Praesent sed diam tortor. Suspendisse potenti. Aliquam turpis magna, malesuada in venenatis id, elementum vitae lectus. Donec sit amet dapibus dolor.

            Aliquam cursus lorem lacus, nec lacinia tortor consequat vel. Curabitur vestibulum hendrerit pulvinar. Morbi et commodo diam, maximus posuere eros. Nam nec felis eu neque aliquam mollis. Cras sed hendrerit dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc convallis ligula et dapibus tincidunt. Phasellus id porttitor lacus.

            Donec tempus finibus ante at faucibus. Vestibulum lorem lectus, elementum a auctor ac, efficitur in ipsum. Pellentesque vitae ipsum eu orci vehicula condimentum eu vel risus. Vestibulum diam arcu, semper vitae ornare vitae, scelerisque vel ipsum. Sed et viverra nisi, ut auctor magna. Nam sed ipsum venenatis, dapibus mauris sit amet, lacinia diam. Morbi quam ligula, pharetra a varius non, vestibulum eget felis. Nulla molestie metus massa, sed pretium quam hendrerit ac. Proin rutrum bibendum neque accumsan pulvinar. Vestibulum eleifend nisi auctor augue posuere, vitae euismod ligula pharetra. Donec sem sem, ullamcorper a pellentesque et, molestie non libero. Donec sollicitudin arcu vitae lacus accumsan dignissim. Etiam ultrices sem at sapien vulputate imperdiet. Praesent non tortor quis purus pretium tristique. Cras ac ornare purus, at tincidunt neque.

            Mauris lacinia ac est non pretium. Duis sed aliquet justo. Integer fermentum interdum ornare. Morbi ut dui ac lacus dapibus imperdiet. Suspendisse sed ex eros. Cras arcu augue, mattis sed dui eget, mattis venenatis lectus. Integer et sapien ac felis pellentesque feugiat eu ut purus. Praesent eu quam nunc. Sed ut ante condimentum, volutpat nibh et, aliquam tellus. Maecenas venenatis est quis tristique hendrerit. Donec non suscipit sem. Phasellus tellus enim, ultricies sit amet mi eget, interdum mollis neque. Curabitur nisi est, pretium blandit magna ut, lacinia molestie arcu. Cras mollis metus eu elit scelerisque, a consequat massa hendrerit. In mattis tortor ipsum, non efficitur leo convallis egestas.
            
        </div>
        <div class="show_modal_btn">Toggle Modal</div>
        <div class="modal modal_idle">
            nte at faucibus. Vestibulum lorem lectus, elementum a auctor ac, efficitur in ipsum. 
            Pellentesque vitae ipsum eu orci vehicula condimentum eu vel risus. Vestibulum diam arcu, 
            semper vitae ornare vitae, scelerisque vel ipsum. Sed et viverra nisi, ut auctor magna. Nam
             sed ipsum venenatis, dapibus mauris sit amet, lacinia diam. Morbi quam ligula, pharetra a 
             varius non, vestibulum eget felis. Nulla molestie metus massa, sed pretium quam hendrerit ac. 
             Proin rutrum bibendum neque accumsan pulvinar. Vestibulum eleifend nisi auctor augue posuere, 
             vitae euismod ligula pharetra. Donec sem sem, ullamcorper a pellentesque et, molestie non libero. 
             Donec sollicitudin arcu vitae lacus accumsan dignissim. Etiam ultrices sem at sapien vulputate 
             imperdiet. Praesent non tortor quis purus pretium tristique. Cras ac ornare purus, at tincidunt 
             neque.
            Mauris lacinia ac est non pretium. Duis sed aliquet justo. Integer fermentum interdum or
        </div>
    <script type="text/javascript">
        $(function(){
            // $(".model_inactive").css("display", "none");
        });
        $(".show_modal_btn").click(function(){
            var modal_element = $(".modal");
            var content = $(".content");
            if (modal_element.hasClass("modal_inactive") || 
                modal_element.hasClass("modal_idle")){
                modal_element.removeClass("modal_inactive");
                modal_element.removeClass("modal_idle");
                modal_element.addClass("modal_active");
                content.css("opacity", "0.1");
            } else {
                modal_element.removeClass("modal_active");
                modal_element.addClass("modal_inactive");
                modal_element.addClass("modal_idle");
                content.css("opacity", "1");
            }
        });
    </script>    
    </body>
</html>